<div class="row" style="min-height: 100vh">
    <div class="col-3" style="background-color: #00481D; opacity: 0.84">
        <div class="container">
            <h1 class="text-white text-center mt-5" style="font-size: calc(1vw + 2rem)">Elige tu futuro</h1>
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <h3 class="text-white">Usuarios sugeridos</h3>
                    </div>
                </div>
                <div class="col-12 mb-4">
                    <div class="d-flex align-items-center bg-white mt-5" style="border-radius: 160px; width: 75%; margin: 0 auto;">
                        <img class="me-4" src="~/img/SinSesion.png" height="70">
                        <h3>Pepe</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9">
        <div class="container">
            <div class="d-flex justify-content-center mt-5">
                <input class="bg-light ps-5 shadow" type="text" placeholder="Busque un proyecto" style="border: 0; min-height: 6vh; min-width: 30vw; border-top-left-radius: 150px; border-bottom-left-radius: 150px">
                <button class="bg-secondary shadow" style="border: 0; min-width: 5vw; border-top-right-radius: 150px; border-bottom-right-radius: 150px;">

                <form action='@Url.Action("PublicarProyecto")'>
                    <button class="ms-5 ps-4 pe-4 bg-success text-white" style="border: 0; border-radius: 20px">+</button>
                </form>
            </div>
            <div class="row d-flex justify-content-between mt-5 ms-5">
                @for (int i = 0; i < ViewBag.Proyectos.Count; i++) {
                    Proyecto proyecto = ViewBag.Proyectos[i];
                    
                    <div class="col-6 mb-5 me-5 shadow-lg" style="max-width: 28vw; border-radius: 40px;">
                        <div class="row">
                            <div class="aplicacion col-6 text-white" style="min-height: 40vh; min-width: 28vw; border-radius: 40px; overflow: hidden; position: relative;">
                                <p class="mt-4 ms-5">@proyecto.FechaPublicacion</p>
                                <div class="row">
                                    <h1 class="col-8 ms-5">@proyecto.Nombre</h1>
                                </div>
                                <h4 class="ms-5">@proyecto.NombreEmpresa</h4>

                                <div class="d-flex align-items-center justify-content-center" style="border-radius: 10px; width: 23%; height: 12%; background-color: #00481D; opacity: 0.84; position: absolute; bottom: 20px; right: 20px;">
                                    <form method="post" action='@Url.Action("Proyecto", "Home")'>
                                        <input type="hidden" name="IdProyecto" value="@proyecto.IdProyecto" />
                                        <button type="submit" class="bg-transparent" style="border: 0;"><h4 class="text-white">Más</h4></button>
                                    </form>
                                </div>
                            </div>

                            <div class="mt-4 mb-5" style="min-height: 7vh">
                                <div class="row">
                                    <div class="col-md-7 offset-md-2">    
                                        <h5>@proyecto.Descripcion</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>   

        </div>
    </div>
</div>