@{
    ViewData["Title"] = "Perfil";
}

<div class="d-flex flex-column align-items-center bg-secondary" style="min-height: 100vh;">
    <div class="bg-white mt-5 pb-5" style="width: 80vw; border-radius: 40px;">
        <div  style="width: 100%; height: 12vh; border-radius: 20px;">
            <div class="headerPerfil bg-success">
                <h3 class="text-white pt-3">Mi perfil</h3>
                <a type="button" class="btn btn-dark" href='@Url.Action("CerrarSesion")'>Cerrar Sesion</a>
            </div>
            
        </div>

        <div class="row mt-5 pt-3">
            <a href="#" id="changeProfilePicLink" class="col-md-3 d-flex justify-content-center FotoPerfil">
                @if(TaskifyService.User.FotoPerfil == null){
                    <img src="~/img/SinSesion.png" alt="Profile Image" style="border-radius: 50%; width: 15vw; height: 15vw; border: 1px solid black;">
                }
                else{
                    <img src="@TaskifyService.User.FotoPerfil" alt="Profile Image" style="border-radius: 50%; width: 15vw; height: 15vw; border: 1px solid black;">
                }
                
                <input type="hidden" id="idUsuario" value="@TaskifyService.User.IdUsuario">
            </a>

            <div id="profilePicModal" class="modal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); background-color:white; padding:20px; border-radius:10px;">
                <form id="profilePicForm" enctype="multipart/form-data">
                    <input type="file" name="profilePic" id="profilePicInput" style="display:none;" required />
                    <button type="submit">Upload</button>
                </form>
            </div>

            <div class="col-md-4 d-flex align-items-start">
                <div>
                    <div class="mb-2">
                        @for(int i = 0; i < TaskifyService.User.Puntaje; i++){
                            <span class="h1 text-warning">★</span>
                        }
                        @for(int i = 0; i < (5-TaskifyService.User.Puntaje); i++){
                            <span class="h1 text-warning">☆</span>
                        }
                    </div>
                    <h1 class="fw-bold display-4">@TaskifyService.User.Nombre @TaskifyService.User.Apellido</h1>
                    <p class="h3" style="color: @TaskifyService.RangoUser.Color">@TaskifyService.RangoUser.Nombre</p>
                </div>
            </div>

            <div class="col-md-5">
                <h1 class="fw-bold display-4">Roles</h1>
                <ul class="list-unstyled ms-5 mt-5">
                    @for(int i = 0; i < TaskifyService.RolUser.Count; i++){
                        <li class="mb-2">
                            <img src="@TaskifyService.RolUser[i].Imagen" alt="Icon" style="width: 2rem; vertical-align: middle;"> 
                            <span class="h5 ms-2">@TaskifyService.RolUser[i].Nombre</span>
                        </li>
                    }
                </ul>
            </div>

            <hr>

            <div class="col-md-8 offset-md-3 mt-4">
                @if(TaskifyService.User.Descripcion != null){
                    <p class="h3">@TaskifyService.User.Descripcion</p>
                }
                else{
                    <p>Nada en descripcion.</p>
                    
                }
            </div>
        </div>
    </div>

    <div class="bg-dark mt-5 p-5 mb-5" style="width: 80vw; border-radius: 40px;">
        <h1 class="text-white">Portafolio</h1>
        
        <div class="row d-flex justify-content-between mt-5 ms-5">
            <div class="col-4 mb-5 me-5 bg-white shadow-lg" style="max-width: 25vw; border-radius: 40px;">
                <div class="row">
                    <div class="aplicacion col-6 text-white" style="min-height: 40vh; min-width: 100%; border-radius: 40px; overflow: hidden; position: relative;">
                        <p class="mt-4 ms-5">Hace 3 horas</p>
                        <div class="row">
                            <h1 class="col-8 ms-5">Desarollo de Aplicacion Movil</h1>
                        </div>
                        <h4 class="ms-5">Mercado Libre</h4>

                        <div class="d-flex align-items-center justify-content-center" style="border-radius: 10px; width: 23%; height: 12%; background-color: #00481D; margin-left:70%; opacity: 0.84; position: absolute;">
                            <button type="submit" class="bg-transparent" style="border: 0;"><h4 class="text-white" style="">Más</h4></button>
                        </div>
                    </div>
                    
                    <div class="mt-4 mb-5" style="min-height: 7vh">
                        <div class="row">
                            <div class="col-md-8 offset-md-2">    
                                <h5 >Vender en Mercado Libre no es lo que era antes, las reglas y las dinámicas cambiaron. Si queres conocer un poco mas te invitamos a ver nuestra serie de videos Problemática / Soluciones.</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/cambiarPFP.js"></script>