<div class="heroPro">
    <h1>@ViewBag.ProyectoElegido.Nombre</h1>
    <h3>@ViewBag.ProyectoElegido.Ubicacion | Puntaje @for(int i = 0; i < TaskifyService.User.Puntaje; i++){<span class="h1 text-warning">★</span> }</h3>
    <p> @ViewBag.ProyectoElegido.Nombre</p>

    @if(TaskifyService.User.IdUsuario != ViewBag.ProyectoElegido.IdCreadorUsuario){
        <a rol="button" href= '@Url.Action("Agenda")' type="button" class="btn btn-success">Postularme</a>
        <a rol="button" href='@Url.Action("Empleos")' type="button" class="btn btn-light">Guardar</a>
    }
</div>
<div class="center">
    <div class="tabla">
        <div>
    
        </div>
    </div>

    <div class="des">
        <h1>Sobre el proyecto...</h1>
        <p>@ViewBag.ProyectoElegido.Descripcion</p>
    </div>
</div>
