@{
    int sumatoriaRol = 0;
    int sumatoriaCategoria = 0;
}
<div class="containerForm">
    <form class="create" action='@Url.Action("CrearProyecto")'>
        <h1>Create project</h1>
        
        <div class="contentFormPro">
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Name</span>
            <input type="text" name="Nombre" class="form-control input1" placeholder="Project name">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Company</span>
            <input type="text" name="NombreEmpresa" class="form-control" placeholder="Company name" aria-label="Recipient's username" aria-describedby="basic-addon2">
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text">Location</span>
            <input type="text" name="Ubicacion" class="form-control" aria-label="Amount (to the nearest dollar)">
        </div>

        <select class="bg-light text-dark ps-4 Select" name="IdRol" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh; margin-bottom:15px">
            <option value="0">Eliga su rol</option>
            @foreach(Rol c in ViewBag.Roles){
                sumatoriaRol++;

                <option value="@sumatoriaRol">@c.Nombre</option>
            }
        </select>

        <select class="bg-light text-dark ps-4" name="IdCategoria" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh">
            <option value="0">Eliga su categoria</option>
            @foreach(Categoria c in ViewBag.Categorias){
                sumatoriaCategoria++;

                <option value="@sumatoriaCategoria">@c.Nombre</option>
            }
        </select>

        <input type="hidden" id="FechaHoy" name="fechaPublicacion" required>
        <input type="hidden" name="IdCreadorUsuario" value="@TaskifyService.User.IdUsuario" required>

        <div class="input-group">
            <span class="input-group-text">About the project</span>
            <textarea name="Descripcion" class="form-control" aria-label="With textarea"></textarea>
        </div>
        
        <button type="submit" class="btn btn-light CreateBtn">Create Project</button>
        </div>
    </form>
</div>
