@{
    int sumatoriaGenero = 0;
    int sumatoriaPais = 0;
    int sumatoriaRol = 0;


}

<div class="Cuenta d-flex justify-content-center" style="min-height: 100vh">
    <div class="bg-white mt-5" style="width: 50vw; max-height: 80vh; border-radius: 50px;">
        <div class="d-flex justify-content-end me-5 pt-5">
            <h5 class="me-3">Ya tiene una cuenta?</h5>
            <div class="d-flex align-items-center"> 
                <a class="text-white bg-danger ps-5 pe-5 fw-bold text-decoration-none" href='@Url.Action("Login")' style="border: 0; border-radius: 100px; min-height: 4vh">Login</a>
            </div>
        </div>
        <div>
            <div class="d-flex justify-content-start align-items-center">
                <h1 class="fw-bold ms-5 ps-5 pe-5">Registrarse</h1>
                @if (ViewBag.Error is IEnumerable<object>)
                {
                    <h3 class="text-danger">@ViewBag.Error</h3>
                }
            </div>
            <form class="mt-5" action='@Url.Action("CrearPerfil")' method="post">
                <div class="row ms-5 ps-5">
                    <div class="col-5">
                        <div class="mb-3">
                            <h6 class="fw-bold">Nombre *</h6>
                            <input type="text" name="Nombre" class="bg-dark text-light ps-4" placeholder="Ingrese su nombre" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Genero *</h6>
                            <select class="bg-dark text-light ps-4" name="Genero" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh">
                                <option value="0">Eliga su genero</option>
                                @foreach(Genero a in ViewBag.Generos){
                                    sumatoriaGenero++;

                                    <option value="@sumatoriaGenero">@a.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">País *</h6>
                            <select class="bg-dark text-light ps-4" name="Pais" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh">
                                <option value="0">Eliga su genero</option>
                                @foreach(Pais b in ViewBag.Paises){
                                    sumatoriaPais++;

                                    <option value="@sumatoriaPais">@b.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Email *</h6>
                            <input type="email" name="Email" class="bg-dark text-light ps-4" placeholder="Ingrese su email" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Contraseña *</h6>
                            <input type="password" name="Contraseña" class="bg-dark text-light ps-4" placeholder="Ingrese su contraseña" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                            <ul>
                                <li class="text-danger">
                                    Mínimo 8 caracteres
                                </li>
                                <li>
                                    Debe contener al menos un número
                                </li>
                                <li>
                                    Mínimo 1 mayúscula
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-6 mt-5">
                        <div class="mb-3">
                            <h6 class="fw-bold">Apellido *</h6>
                            <input type="text" name="Apellido" class="bg-dark text-light ps-4" placeholder="Ingrese su apellido" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Fecha de Nacimiento *</h6>
                            <input type="date" name="FechaNacimiento" class="bg-dark text-light ps-4" placeholder="Ingrese su fecha de nacimiento" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-3">
                            <h6 class="fw-bold">Número de Teléfono *</h6>
                            <input type="tel" name="NumeroTelefono" class="bg-dark text-light ps-4" placeholder="Ingrese su número de teléfono" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                        <div class="mb-5">
                            <h6 class="fw-bold">Elija su rol *</h6>
                            <select class="bg-dark text-light ps-4" name="IdRol" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh">
                                <option value="0">Eliga su rol</option>
                                @foreach(Rol c in ViewBag.Roles){
                                    sumatoriaRol++;

                                    <option value="@sumatoriaRol">@c.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="password" name="ConfirmarContraseña" class="bg-dark text-light ps-4" placeholder="Ingrese su contraseña nuevamente" style="width: 15vw; border: 0; border-radius: 10px; min-height: 4vh" required>
                        </div>
                    </div>
                </div>

                <div class="text-center mt-4 mx-auto">
                    <button type="submit" class="bg-success text-white text-center fw-bold shadow-lg" style="width: 10vw; border: 0; border-radius: 20px; height: 7vh">Registrarse</button>
                </div>
            </form>

        </div>
    </div>
</div>