@{
    int correctAnswers = ViewBag.CorrectAnswers;
    int totalQuestions = ViewBag.TotalQuestions; 
    int incorrectAnswers = totalQuestions - correctAnswers;
}

<div class="d-flex justify-content-center mt-5">
    @if (correctAnswers == totalQuestions)
    {
        <h1 class="text-success">¡Felicidades! Obtuviste todas las respuestas correctas.</h1>
    }
    else if (correctAnswers > totalQuestions / 2)
    {
        <h1 class="text-warning">¡Buen trabajo! Obtuviste más de la mitad correctas.</h1>
    }
    else
    {
        <h1 class="text-danger">No te preocupes, sigue practicando para mejorar.</h1>
    }
</div>

<div class="container mb-5">
    <div class="row mt-5 bg-dark p-5" style="border-radius: 30px">
        <div class="col-3 d-flex align-items-center">
            <h1 class="text-white">Resultados:</h1>
        </div>
        <div class="col-10 d-flex justify-content-center">
            <div class="row">
                <div class="col-3 bg-white p-5 m-4" style="border-radius: 30px">
                    <h5><strong>Total de preguntas:</strong> @totalQuestions</h5>
                </div>
                <div class="col-3 bg-white p-5 m-4" style="border-radius: 30px">
                    <h5><strong>Respuestas correctas:</strong> @correctAnswers</h5>
                </div>
                <div class="col-3 bg-white p-5 m-4" style="border-radius: 30px">
                    <h5><strong >Respuestas incorrectas:</strong> @incorrectAnswers</h5>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <a class="btn btn-primary me-5 mb-5 mt-5 bg-success" style="border: none" href='@Url.Action("Index", "Home")'>Volver al Inicio</a>
            <a class="btn btn-secondary me-5 mb-5 mt-5" href='@Url.Action("Consignas", "Home")'>Intentar de Nuevo</a>
        </div>
    </div>
</div>