<div class="Opiniones" style="height: 50vh;">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container d-flex text-white p-4 mt-5" style="width: 50%; margin: 0 auto;">
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <h1>Populares</h1>  
                            <p class="h6" style="font-size: 1.2rem; margin: 0;">Descubre los mejores desafios para capacitarte y mejorar tu perfil con nuestros certificados!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="bg-white container">
    <h1 class="text-center fw-bold text-body mt-5">Busca nuevos desafios</h1>
    <div class="d-flex justify-content-center mt-5">
        <input class="bg-secondary bg-opacity-25 ps-5 shadow" type="text" placeholder="Busque un proyecto" style="border: 0; min-height: 6vh; min-width: 30vw; border-top-left-radius: 150px; border-bottom-left-radius: 150px">
        <button class="bg-secondary shadow" style="border: 0; min-width: 5vw; border-top-right-radius: 150px; border-bottom-right-radius: 150px;">
    </div>
    <div class="d-flex justify-content-center mt-5 gap-5">
        <button class="btn btn-success shadow px-5 py-2 rounded-pill fw-bold">C#</button>
        <button class="btn btn-success shadow px-5 py-2 rounded-pill fw-bold">JS</button>
        <button class="btn btn-success shadow px-5 py-2 rounded-pill fw-bold">SQL</button>
        <button class="btn btn-success shadow px-5 py-2 rounded-pill fw-bold">HTML</button>
        <button class="btn btn-success shadow px-5 py-2 rounded-pill fw-bold">CSS</button>
    </div>
    <div class="Mejora">
    <div class="row mt-5">
        <h1 class="fw-bold">Tasks Recientes</h1>
        @for(int i = 0; i < @ViewBag.ListaTask.Count; i++){
            <div class="col-md-3 mb-5 me-5 shadow-lg" style="min-width: 20vw; border-radius: 40px; z-index: 1; position: relative;">
                <div class="row">
                    <div class="aplicacion col-6 text-white" style="min-height: 20vh; min-width: 20vw; border-radius: 40px; overflow: hidden; position: relative;">
                        <p class="mt-4 ms-5">@ViewBag.ListaTask[i].FechaPubli.ToShortDateString()</p>
                        <div class="">
                            <form action='@Url.Action("TaskSeleccionado")'>
                                <input type="hidden" name="IdTask" value="@ViewBag.ListaTask[i].IdTask">
                                <button type="submit"><h3 class=" mt-2 ms-4 text-white" style="text-align: left; ">@ViewBag.ListaTask[i].Titulo</h3></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="d-flex align-items-center">
                    <h6 class="bg-success mt-4 text-white ps-4" style="min-height: 1vh; min-width: 100%; border-radius: 40px;">@ViewBag.ListaTask[i].Progreso %</h6>
                </div>
            </div>
        }
    </div>
    </div>

</div>
